.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contenedor.red {
  background-color: red;
}
.contenedor.yellow {
  background-color: yellow;
}

.flex-container > div {
  background-color: blue;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 200px;
  color: white;
}