.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    .red {
        color: red;
    }
    .yellow {
        color: yellow;
    }
}

.flex-container > div {
    background-color: blue;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    color: white;
}